@font-face {
	font-family: Avenir;
	src: url(../fonts/Avenir.ttc);
}
@font-face {
	font-family: Avenir Next;
	src: url(../fonts/Avenir Next.ttc);
}

body {
	margin: 0 auto;
	max-width: 75%;
	min-width: 700px;
	font-family: Avenir Next;
}

.main-nav-style {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}

.main-nav-list {
	list-style-type: none;
	padding-left: 3px;
}

.main-nav-list a {
	text-decoration: none;
	color: #898b8d;
}

.main-nav-list-item {
	padding-bottom: 20px;
	font-size: 1.25rem;
	border-top: 2px dotted #898b8d;
	padding-top: 5px;
}