<!doctype HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Components for Queens Museum Case Study</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/main.css">
</head>

<body>
	<header>
		<h1>Queens Study Museum</h1>
		<p>Design System Case Study</p>
	</header>

	<section class="h1-style">
		<h2>H1</h2>

		<img class="main-logo-image" src="images/main-logo.png">

		<p class="main-logo-style">Queens Museum</p>

		<p class="note">Note: Still searching for what font this is. Logo is a .gif file on website, so I can't check source code</p>
	</section>

	<section class="h2-style">
		<h2>H2 (hero)</h2>

		<img class="hero-h2-image" src="images/hero-h2.png">

		<p class="hero-h2-style">News</p>
	</section>

	<section class="h3-style">
		<h2>H3 (hero carousel)</h2>

		<img class="article-h3-image" src="images/h3-image.png">

		<p class="article-h3-style">Year of Uncertainty</p>

		<p class="note">Note: Exploring question of why font-weights on my components page look different than font-weights on case study website. Website uses Avenir. Could this be a variation or not the same version I have, so font weights appear differently? E.g. both fonts are in weight=800, yet top version looks so much bolder.</p>

		<p class="note">Note: Color may change depending on carousel slide.</p>
	</section>

	<section class="h2-style">
		<h2>H4</h2>

		<img class="h4-image" src="images/h4-image.png">

		<p class="h4-style">Upcoming Events</p>
	</section>


</html>